html, body{
    margin: 0px;
    padding:0px;
    font-weight: 16px;
    box-sizing: border-box;
    
}


nav{
    position: fixed;
    top: 0px;
    
    display: inline-flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    border-bottom: 2px solid #1E437A;

}

nav img{
    
    height: 40px;
    width:  120px;  
    margin-left: 30px;
    
    

    
}

nav ul{
    display: flex;
    list-style: none;
    margin-right: 5%;
    align-items: center;
   
    
    

}

nav li{
    
    margin-right: 10%;
    
    font-weight: 2rem;
    display: inline-flex;
    
    white-space: nowrap;
    
}

.title{
    background-color: #1E437A;
    color: #FFFDFF;
    margin: auto;
    box-sizing: border-box;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    
    grid-template-areas: "MS MSP MSP" 
                         "photos photos Brands"
                         "Shoes style style";
}

.photo{
    height: 150px;
    width:  150px;
}

.MS {
    grid-area: MS;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Condensed";
    font-weight: bolder;
    font-size: 2rem;
    background-color: black;
    color: white;
    
    
}

.MSP {
    grid-area: MSP;
}



.para{
    
    color: black;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin: 50px;
    
}

.photos{
    grid-area: photos;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Brands{
    grid-area: Brands;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Condensed";
    font-weight: bolder;
    font-size: 3rem;
    background-color: black;
    color: white;
}

.Shoes{
    grid-area: Shoes;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Condensed";
    font-weight: bolder;
    font-size: 3rem;
    background-color: black;
    color: white;
}



.logo{
    height: 100px;
    width:  100px;
    margin-right: 70px;
    border: 3px solid black;
    margin-bottom: 10px;
    border-radius: 20%;
    

}

.style{
    grid-area: style;
    display: flex;
    justify-content: center;
    align-items: center;
}
.style ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.textt{
    position: relative;
    left: 25px;
    margin-top: 0;

}

footer{
    background-color: #1E437A;
    height: 100px;
    
}

footer h3{
    color: white;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin-left: 20px;
    text-align: start;
    

}